#searchglass{
    width: 15px;
    cursor: pointer;
    float: left;
}
body{
    font-family: calibri;
}
a{
    text-decoration: none;
}
a:visited{
    color: purple;
}
a:active{
    color: green;
}

#hdr-menu{
    height: 15px;
    padding: 10px 5px 10px 5px;
    background-color:blue;
    margin-left: -8px;
    margin-right: -8px;
    background: -webkit-linear-gradient(blue, white,blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue,white,blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue,white,blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue,#336699,blue); /* Standard syntax */
}

#container{
    min-width: 100%;
    max-width: 100%;
    display: inline-block;
    z-index: 1;
   
}
#header{
    //background-color:#336699;
    height: 200px;
    margin-top: -30px;
    margin-left: -8px;
    margin-right: -8px;

}
#logo{
    color:#336699;
    position: absolute;
    top:50px;
    left: 60px;
    font-size: 30pt;
}
.cntr{
    text-align: center;
}
#content{
    min-width: 60%;
    max-width: 60%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    overflow-x: auto;
}
#footer{
    min-width: 100%;
    float: left;
    background-color:#336699;
    color:white;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: -200px;
}
.mid{
    min-height: 350px;
    padding: 10px;
    float: left;
}

.hd-news{
    background-color: #336699;
    min-height:25px;
    color: white;
    font-weight: bold;
    padding: 10px 0px 5px 15px;
}
#{
    list-style: none;

}
#>li{
    float: left;
    padding:0px 10px 0px 10px;
    position: relative;
    top:-18px;
    border-left: 1px white solid;
}

#:nth-child{
    border-right: 1px white solid;
}

#>li>a{
    color: white;
}
#>li:hover{
    cursor: pointer;
    font-weight: bolder;
}
.side-bar{
    list-style:circle;
}
.side-bar>li{
    text-align: left;
    padding-bottom: 10px;
}
#lt-bar{
    margin-left: 10px;
    position: relative;
    left: 10px;
    margin-right: 10px;
}
#lt-block{
    border: 2px  #336699 solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:220px;
    padding-top: 0px;
}
#rt-bar{
    right: 10px;
    position: absolute;
    right: 10px;
}
.side-bar>li:hover{
   font-weight: bold;
   cursor: pointer;
}

#hdr-lft{
    background-color:  #336699;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}
table{
    width: 100%;
}


#overlay{
    z-index: 10;
    position: fixed;
    background-color: gray;
    opacity: 0.9;
    padding: 0; 
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: none;
    
    
}
label{
    font-weight: bold;
}

#info_tbl{
     border:1px black solid;
     border-radius:5px;
     max-width:280px;
     margin-top:-30px;
     padding: 3px;
     font-size: 10pt;
}
#sec_child{
    font-size: 10pt;
}
#hist_hdr{
    padding: 5px;
    max-width:260px;
    max-height:200px;
    overflow-y:auto;   
}
#history{
    border:1px black solid;
    border-radius:5px;
    padding: 5px;
    max-width:260px;
    max-height:200px;
    overflow-y:auto;
}
#viewClaims{
   font-size: 10pt; 
}
#info_tbl tr:nth-child(odd){
    background-color: lightgray;
}
#loadimg{
    position: relative;
    top:290px;
    left:640px;
}
#loadimg_chat{
    position: relative;
    top:140px;
    left:120px; 
}
#log{
    width: 250px;
    height: 200px;
    background-color: lightblue;
    opacity: 1;
    position:fixed;
    top: 200px;
    left: 570px;
    z-index: 15;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    box-shadow: 10px 5px 10px #888888;
    
}
#log input[type=text]{
    border-radius: 4px;
    height: 25px;
    padding: 0px 5px 0px 5px;
    width: 190px;
}
#logError{
    color: red;
    font-size: 9pt;
    text-align: center;
}
#bg{
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    
}
#org{
    position: absolute;
    top: 70px;
    left: 420px;
    font-size: 40pt;
    color: white;
    font-family: "monotype corsiva";
}

#extra_access{
    z-index: 30;
}
#extra_access>li{
    position: absolute;
    background: white;
    border-radius: 5px;
    border: 1px blue solid;
    padding: 5px 10px 5px 10px;
    top:10px;
    right:120px;
    color: orange;
    min-width: 220px;
    max-width: 220px;
    cursor: pointer;
}

#extra_access ul{
    border: 1px blue solid;
    position:absolute;
    top:30px;
    right:0px;
    background-color:white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px; /*puts the space margin all round*/
    font-size: 10pt;
    min-width: 230px;
    max-width: 230px;
    display: none;
    left:-1px;
}
#extra_access>li a{
    text-decoration: none;
}

#extra_access,#extra_access ul{
    list-style: none;
}

#extra_access li:hover>ul{
    display: block;
}
.icpDivs{
    float:left;
    margin:2px 2px 2px 2px;
    padding:1px 2px 1px 2px;
    border: 1px black solid;
    background-color: gray;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}