body{
	background-color:grey;
    font-family: "Avant Garde",Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

#overlay
{
	position:fixed; /*implements no scrollbars*/
	top:0px;
	left:0px;
	bottom: 0px;
	right: 0px;
	background:#808080;
	opacity: 0.9; /* the lower the opacity the more the opaque*/
	z-index: 20;
	display: none;
}

#header
{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	max-height: 100px;
	min-height: 100px;
	background: linear-gradient(to bottom, #f0ffff , grey ); /* Standard syntax */
	
}
#logo
{

	
}
#logo_img
{
  	/*max-width:  25%;
	min-width: 25%;*/
	position:relative;
	top:-30px;
	max-width:95px;
	min-width:95px;
	margin:80px 0px 10px 120px;  
}
#main_menu
{
	min-width: 100%;
	//border-radius:10px;
    z-index: 5;
	height:20px;
	color:blue;
	position:fixed;
    //left: 65px;
	top:0px;
	left:-10px;
	padding:20px 30px 10px 70px;
    //background: linear-gradient(to bottom,white,wheat);
    background: linear-gradient(to bottom, #f0ffff , grey ); /* Standard syntax */
    margin-left:auto;
	margin-right:auto;
	opacity: 1.0;
}
#main_menu_links{	
	list-style: none;
	position: relative;
	top:-15px;

}
#main_menu_links li{
	float:left;
	margin: 0px 10px 0px 0px;
	
}
#main_menu_links a{
		text-decoration:none;
}
#contain
{
	position: relative; /*position works with left, right, top and bottom*/
	//left: 100px; /* left, bottom always works with position*/
	margin-left:auto;
	margin-right:auto;
	top:170px;
	min-height:550px;
	border:1px white solid;
	border-radius: 5px;
	padding: 50px 160px 10px 180px;
	z-index: 2;
	max-width: 65%;
	margin-bottom:0px;
	color: white;
}

#foot{   
	position:relative;
	min-width:90%;
	left:0px;
	right:0px;
    top:159px;	
	max-height: 150px;
	min-height: 150px;
	background: linear-gradient(to top, #f0ffff , grey ); /* Standard syntax */
}
#login_link>a:link
{
	text-decoration:none;
}
.side_bar_list a:link
{
	text-decoration:none;
}
#login 
{
	z-index:25;
	display: inline-block; /*fills up the div width with content*/
	text-align:center;
	position:relative;
	left:275px;
	top:30px;
	width: 230px;
	border-radius:6px;
	color: orange;
	font-weight:bolder;
    margin-top: 20px;
}
#extra_access{
    z-index: 30;
    position:fixed;
    top:-19px;
    right:-30px;
}
#extra_access>li{
    position: absolute;
    background: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    top:10px;
    right:120px;
    color: orange;
    min-width: 220px;
    max-width: 220px;
    cursor: pointer;
}

#extra_access ul{
position:absolute;
top:30px;
right:0px;
background-color:white;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
padding: 5px; /*puts the space margin all round*/
font-size: 10pt;
min-width: 230px;
max-width: 230px;
display: none;
}
#extra_access>li a{
    text-decoration: none;
}

#extra_access,#extra_access ul{
    list-style: none;
}

#extra_access li:hover>ul{
    display: block;
}
.bars{
    width: 15%; 
    border-radius: 5px;  
    padding: 30px 10px 10px 20px;
    background: linear-gradient(to right,grey,wheat,grey);  
    color: blue;
}
#left_bar{
    float: left;
    margin: 10px 20px 10px -110px;
    height: 45%;
    position: fixed;
    top: 200px;
    left: 90px;
    height: 270px;
    //border:1px white solid;
     
}
#right_bar{
    //float: right;
    //margin: 10px -110px 10px 20px;
    //border:1px white solid;
    position: fixed;
    top: 210px;
    right: -10px;
    height: 270px;
}
.side_bar_list li{
	 //list-style-image: url('/../easyPHP/application/schoolmanager/images/write_bullet.png');
         list-style: none;
     color: white;
}
.log_txt{
    border: 2px green solid;
}
.se{
	margin-bottom: 10px;
	margin-top:10px;
	max-width: 160px;
}
input[type="text"],input[type="password"], input[type="submit"]{
	border-radius:6px;
	width: 13em;
	height: 1.5em;
}
select{
	border-radius:6px;
	width: 14em;
	height: 2em;    
}
input[type="text"],input[type="password"],select
{
	font-family:"Courier New", Courier, monospace;
	color: #000;
	padding-left:10px;
	font-weight:bolder;
}

input[type="submit"]
{
	text-transform:uppercase;
	background: green;
	color:white;
	font-weight:bolder;
}
h2{
	position:absolute;
	top: 30px;
	left: 250px;
	font-family:'lucida calligraphy';
	
}
.logo_color{
	color:orange;
}
#logo_text{
	position:absolute;
	top:90px;
	left:315px;
}
#welcome_logo
{
	margin-left:260px; 
	position:absolute; 
	top:auto; 
	bottom:auto;
	opacity: 0.1;
	max-height:250px;
	min-height:250px;
	max-width:260px;
	min-width:260px;
       
}
#bookgif{
	position:absolute;
	bottom:0px;
	left:260px;
}
button{
    background-color: wheat;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

#loading{
    margin-top:200px;
    margin-left:570px;
}
input[readonly]{
    background-color: grey;
}
#innerdiv{
    background-color:white;margin-bottom:3px;cursor:pointer;
}
table {
    //margin-left: auto;
    //margin-right: auto;
}
