dt{
    font-weight: bold;
    font-style: italic;
    margin-bottom:10px; 
}
dd{
    border: 3px black solid;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    min-height: 60px;
    display: none;
}
#helpTable{
    white-space: nowrap;
}
a{
    cursor: pointer;
}
#helpTable th{
    background-color:lightskyblue;
}
#helpTable th,td{
    padding:0px 15px 0px 15px;
}
#helpTable tr:nth-child(even){
   background-color: azure; 
}
#helpTable tr:nth-child(odd){
   background-color: beige; 
}
.span{
    min-width:140px;
    float: left;

}
#booked_maasai_one{
	position:absolute;
	z-index: 50;
	left:130px;
	top:30px;
}
#booked_maasai_two{
	position:absolute;
	z-index: 50;
	left:340px;
	top:30px;
}
#booked_gatu{
	position:absolute;
	z-index: 50;
	left:700px;
	top:30px;
}
#booked_abardare{
	position:absolute;
	z-index: 50;
	left:570px;
	top:180px;
}

#booked_tsavo{
	position:absolute;
	z-index: 50;
	left:455px;
	top:285px;
}

#booked_samburu{
	position:absolute;
	z-index: 50;
	left:450px;
	top:420px;
}
#booked_shaba{
	position:absolute;
	z-index: 50;
	left:390px;
	top:420px;
}