label{
    font-weight: bold;
}

#glass{
	position: relative;
	left:-33px;
	top:10px;
}

/*
 * Start
 */

.popup {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
        
    background: rgba(0, 0, 0, 0.8);
    /*
    pointer-events: none;
    */
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    
  
}
.popup:target {
    opacity:1;
    pointer-events: auto;
}
.popup > div {
    width: 300px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}
.popup .items:hover {
   background: orange;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   padding: 5px;
   font-weight: bold;
}
/*
 * End
 * 
 */

#info_tbl{
     border:1px black solid;
     border-radius:5px;
     max-width:280px;
     margin-top:-30px;
     padding: 3px;
     font-size: 10pt;
     white-space: nowrap;
}
#info_tbl, td,th {
     padding: 8px;
 }
#info_tbl, th, td {
    border: 1px solid grey;
 } 
#sec_child{
    font-size: 10pt;
}
#hist_hdr{
    padding: 5px;
    max-width:260px;
    max-height:200px;
    overflow-y:auto;   
}
#history{
    border:1px black solid;
    border-radius:5px;
    padding: 5px;
    max-width:260px;
    max-height:200px;
    overflow-y:auto;
}
#viewClaims{
   font-size: 10pt; 
}
#info_tbl tr:nth-child(odd){
    background-color: lightgray;
}

#loadimg{
    position: relative;
    top:290px;
    left:640px;
}
#loadimg_chat{
    position: relative;
    top:140px;
    left:120px; 
}

#bg{
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    
}
#org{
    position: absolute;
    top: 70px;
    left: 420px;
    font-size: 40pt;
    color: white;
    font-family: "monotype corsiva";
}

#extra_access{
    z-index: 30;
}
#extra_access>li{
    position: absolute;
    background: white;
    border-radius: 5px;
    border: 1px blue solid;
    padding: 5px 10px 5px 10px;
    top:10px;
    right:120px;
    color: orange;
    min-width: 220px;
    max-width: 220px;
    cursor: pointer;
}

#extra_access ul{
    border: 1px blue solid;
    position:absolute;
    top:30px;
    right:0px;
    background-color:white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px; /*puts the space margin all round*/
    font-size: 10pt;
    min-width: 230px;
    max-width: 230px;
    //display: none;
    left:-1px;
}
#extra_access>li a{
    text-decoration: none;
}

#extra_access,#extra_access ul{
    list-style: none;
}

#extra_access li:hover>ul{
    display: block;
}
.icpDivs{
    float:left;
    margin:2px 2px 2px 2px;
    padding:1px 2px 1px 2px;
    border: 1px black solid;
    background-color: gray;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.alerts{
    color: red;
}

#tbltoolkitusers{
    background-color: wheat;
}
#tblShowBal tr{
    background-color: aliceblue;
}
#error{
	background-color: yellow;
	color:red;
}
.Totals{
	font-weight: bold;
	text-align:right;
}
.footnotes_header{
	background-color:#1C94C4;
	padding: 5px 0px 5px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.footnotes_body{
	background-color: #FBD850;
	padding: 5px 0px 5px 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: -18px 0px 10px 0px;
}
#coverUp{
    z-index: 10;
    position: fixed;
    background-color: gray;
    opacity: 0.9;
    padding: 0; 
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    
}
#tblnewPassReset{
	 border:1px orange solid;
}


 .centered {  
  position:fixed;
  z-index: 100;  
  top:50%;  
  left:50%;  
  margin:-80px 0 0 -80px;  
  min-height:100px;
  min-width:100px;
  padding:15px 15px 40px 15px;
  background-color:teal; 
} 
.hide{
	display: none;
	font-weight: bold;	
}
