label{
    font-weight: bold;
}

#info_tbl{
     border:1px black solid;
     border-radius:5px;
     max-width:280px;
     margin-top:-30px;
     padding: 3px;
     font-size: 10pt;
}
#sec_child{
    font-size: 10pt;
}
#hist_hdr{
    padding: 5px;
    max-width:260px;
    max-height:200px;
    overflow-y:auto;   
}
#history{
    border:1px black solid;
    border-radius:5px;
    padding: 5px;
    max-width:260px;
    max-height:200px;
    overflow-y:auto;
}
#viewClaims{
   font-size: 10pt; 
}
#info_tbl tr:nth-child(odd){
    background-color: lightgray;
}
#loadimg{
    position: relative;
    top:290px;
    left:640px;
}
#loadimg_chat{
    position: relative;
    top:140px;
    left:120px; 
}
#log{
    width: 250px;
    height: 200px;
    background-color: lightblue;
    opacity: 1;
    position:fixed;
    top: 200px;
    left: 570px;
    z-index: 15;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    box-shadow: 10px 5px 10px #888888;
    
}
#log input[type=text],#log input[type=password]{
    border-radius: 4px;
    height: 25px;
    padding: 0px 5px 0px 5px;
    width: 190px;
}

#logError{
    color: red;
    font-size: 9pt;
    text-align: center;
}
#bg{
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    
}
#org{
    position: absolute;
    top: 70px;
    left: 420px;
    font-size: 40pt;
    color: white;
    font-family: "monotype corsiva";
}

#extra_access{
    z-index: 30;
}
#extra_access>li{
    position: absolute;
    background: white;
    border-radius: 5px;
    border: 1px blue solid;
    padding: 5px 10px 5px 10px;
    top:10px;
    right:120px;
    color: orange;
    min-width: 220px;
    max-width: 220px;
    cursor: pointer;
}

#extra_access ul{
    border: 1px blue solid;
    position:absolute;
    top:30px;
    right:0px;
    background-color:white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px; /*puts the space margin all round*/
    font-size: 10pt;
    min-width: 230px;
    max-width: 230px;
    display: none;
    left:-1px;
}
#extra_access>li a{
    text-decoration: none;
}

#extra_access,#extra_access ul{
    list-style: none;
}

#extra_access li:hover>ul{
    display: block;
}
.icpDivs{
    float:left;
    margin:2px 2px 2px 2px;
    padding:1px 2px 1px 2px;
    border: 1px black solid;
    background-color: gray;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.alerts{
    color: red;
}
#btnUserSearch{
    display:none;
}
#tbltoolkitusers{
    background-color: wheat;
}
#tblShowBal tr{
    background-color: aliceblue;
}
#error{
	background-color: yellow;
	color:red;
}
.switchElem{
    float: left;
}

